.filter-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding-bottom: var(--space-l);
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding-bottom: var(--space-m);
}

.filter-group:last-child {
    border-bottom: none;
}

.group-label {
    font-size: var(--font-size-s);
    color: var(--color-text-secondary);
    text-transform: uppercase;
    margin-bottom: var(--space-xs);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding-bottom: var(--space-s);
    border-bottom: 1px solid var(--color-border);

    &:hover {
        color: var(--color-text-primary);
        &::after {
            border-color: var(--color-text-primary);
        }
    }
}

.group-label::after {
    content: '';
    border: solid var(--color-text-secondary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
}

.filter-group.collapsed .group-label::after {
    transform: rotate(-45deg);
}

.filter-group.collapsed .options-wrapper {
    height: 40px;
    pointer-events: none;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(to bottom, transparent, var(--color-background-main));
        pointer-events: none;
    }
}

.options-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    overflow: hidden;
    position: relative;
}

.filter-option {
    padding: var(--space-xs) 10px;
    border-radius: var(--border-radius-l);
    background-color: var(--color-background-secondary);
    font-size: var(--font-size-m);
    cursor: pointer;
    border: 1px solid;
}

.filter-option:not(.active):hover {
    background-color: var(--color-background-secondary-hover);
}

.filter-option:hover {
    border-color: var(--color-accent);
}

.filter-option[data-group="general"] {
    border-color: var(--filter-color-general);
    color: var(--filter-color-general);
}

.filter-option[data-group="general"].active {
    background-color: var(--filter-bg-general-active);
    color: var(--filter-color-general-active);
    border-color: var(--filter-bg-general-active);
}

.filter-option[data-group="europe"] {
    border-color: var(--filter-color-europe);
    color: var(--filter-color-europe);
}

.filter-option[data-group="europe"].active {
    background-color: var(--filter-bg-europe-active);
    color: var(--filter-color-europe-active);
    border-color: var(--filter-bg-europe-active);
}

.filter-option[data-group="world"] {
    border-color: var(--filter-color-world);
    color: var(--filter-color-world);
}

.filter-option[data-group="world"].active {
    background-color: var(--filter-bg-world-active);
    color: var(--filter-color-world-active);
    border-color: var(--filter-bg-world-active);
}

.filter-option[data-group="poland"] {
    border-color: var(--filter-color-poland);
    color: var(--filter-color-poland);
}

.filter-option[data-group="poland"].active {
    background-color: var(--filter-bg-poland-active);
    color: var(--filter-color-poland-active);
    border-color: var(--filter-bg-poland-active);
}

.filter-option[data-group="date"] {
    border-color: var(--filter-color-date);
    color: var(--filter-color-date);
}

.filter-option[data-group="date"].active {
    background-color: var(--filter-bg-date-active);
    color: var(--filter-color-date-active);
    border-color: var(--filter-bg-date-active);
}
