.follow-button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: var(--color-background-tertiary);
    border: 1px solid var(--color-black);
    color: var(--color-text-primary);
    border-radius: var(--border-radius-s);
    padding: 8px 16px;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease-out;
}

.follow-button:hover {
    background: var(--color-background-secondary-hover);
}

.follow-button.tracked {
    background: var(--gradient-accent);
    color: var(--color-white);
}

.tile {
    display: flex;
    align-items: center;
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-m);
    gap: 10px;
    border: 1px solid var(--color-black);
    overflow: hidden;
    align-items: start;
    box-shadow: var(--shadow-main);
    transition: all 0.2s ease-out;
    width: 100%;

    &:hover {
        box-shadow: var(--shadow-hover);
        background: var(--color-background-secondary-hover);
    }

    .image {
        flex: 0 0 50px;

        img {
            width: 50px;
            height: 50px;
            display: block;
        }
    }

    .details {
        flex: 1;
        color: var(--color-text-primary);
        padding-block: var(--space-s);
        min-width: 0;
    }
    
    .name {
        font-weight: bold;
        letter-spacing: 0.7px;
    }
    
    .sub-details {
        font-size: 11px;
        color: var(--color-text-secondary);
        margin-top: var(--space-xs);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status {
        flex: 0 0 60px;
        position: relative;
    }

    .date-display, .status-badge {
        background-color: var(--color-accent);
        color: var(--color-white);
        padding: var(--space-s) var(--space-m);
        font-size: var(--font-size-s);
        font-weight: bold;
        position: absolute;
        right: -1px;
        top: -1px;
        border: 1px solid var(--color-black);
        border-bottom-left-radius: var(--border-radius-l);
        background: var(--gradient-accent);
        white-space: nowrap;
    }

    .date-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1;
        width: 54px;
        padding-inline: 0;

        .day {
            font-size: var(--font-size-l);
            color: var(--color-black);
            opacity: 0.7;
        }

        .month {
            font-size: var(--font-size-l);
        }

        .year {
            font-size: var(--font-size-s);
            opacity: 0.8;
        }
    }

}
