
.tile {
    display: flex;
    align-items: center;
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-m);
    gap: 0 10px;
    border: 1px solid var(--color-black);
    overflow: hidden;
    align-items: start;
    box-shadow: var(--shadow-main);
    transition: all 0.2s ease-out;
    width: 100%;
    flex-wrap: wrap;

    &:hover {
        box-shadow: var(--shadow-hover);
        background: var(--color-background-secondary-hover);
    }

    .image {
        flex: 0 0 50px;

        img {
            width: 50px;
            height: 50px;
            display: block;
        }
    }

    .details {
        flex: 1;
        color: var(--color-text-primary);
        padding-block: var(--space-s);
        min-width: 0;
    }
    
    .name {
        font-weight: bold;
        letter-spacing: 0.7px;
    }
    
    .sub-details {
        font-size: 11px;
        color: var(--color-text-secondary);
        margin-top: var(--space-xs);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status {
        flex: 0 0 60px;
        position: relative;
    }

    .date-display, .status-badge {
        background-color: var(--color-accent);
        color: var(--color-white);
        padding: 3px var(--space-m);
        font-size: var(--font-size-s);
        font-weight: bold;
        position: absolute;
        right: -1px;
        top: -1px;
        border: 1px solid var(--color-black);
        border-bottom-left-radius: var(--border-radius-l);
        background: var(--gradient-accent);
        white-space: nowrap;
    }

    .date-display {
        padding: 3px var(--space-m);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1;
        width: 69px;
        border-right: none;
        right: 0;
        top: 0;
        margin-top: -1px;
        padding-inline: 0;
        border-bottom-left-radius: 0;

        .day {
            font-size: var(--font-size-l);
            color: var(--color-black);
            opacity: 0.7;
        }

        .month {
            font-size: var(--font-size-l);
        }

        .year {
            font-size: var(--font-size-s);
            opacity: 0.8;
        }
    }

    .event-spotify {
        margin-top: -1px;
    
        .button {
            height: 20px;
            font-size: 11px;
            text-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
        }
    }

    &[data-type="discover"] .status {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0 0 140px;
        height: 50px;
    }
}

.discover-on-tour {
    color: var(--color-accent);
    font-size: var(--font-size-s);
    font-weight: bold;
    border: 1px solid var(--color-black);
    border-style: none none solid solid;
    background-color: rgb(from var(--color-accent) r g b / 0.2);
    white-space: nowrap;
    height: 25px;
    padding: var(--space-xs) 0;
    text-align: center;
    font-size: var(--font-size-s);
    font-weight: bold;
    display: block;
    width: 70px;
    box-sizing: border-box;
    pointer-events: none;

    &.not {
        color: var(--color-text-secondary);
        background-color: var(--color-background-secondary);
    }
}

.spotify-player {
    width: 100%;
    background: #1f1f1f;

    .hidden {
        display: none;
    }
    
    iframe {
        display: block;
    }
}

