:root {
    --color-background-main: #2c2c2c;
    --color-background-secondary: #444;
    --color-text-primary: #f0f0f0;
    --color-text-secondary: #aaa;
    --color-border-primary: #444;
    --gradient-accent: linear-gradient(to right, #ff8c00, #ff4500);
    --gradient-accent-button: linear-gradient(to right, #ff8c00, #ff4500, #ff4500, #ff8c00, #ff8c00, #ff4500, #ff4500, #ff8c00);
    --gradient-secondary: linear-gradient(to right, #4c515a, #3a3f47);
    --gradient-secondary-button: linear-gradient(to right, #4c515a, #3a3f47, #3a3f47, #4c515a, #4c515a, #3a3f47, #3a3f47, #4c515a);

    --filter-color-general: #aaa;
    --filter-color-general-active: #fff;
    --filter-bg-general-active: #777;

    --filter-color-europe: #6caddf;
    --filter-color-europe-active: #fff;
    --filter-bg-europe-active: #4a90e2;

    --filter-color-world: #8fde5d;
    --filter-color-world-active: #fff;
    --filter-bg-world-active: #64c322;

    --filter-color-poland: #ffc107;
    --filter-color-poland-active: #fff;
    --filter-bg-poland-active: #e69500;
}
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    width: 340px;
    padding-top: 30px; /* Space for the settings container */
    background-color: var(--color-background-main);
    color: var(--color-text-primary);
    position: relative;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
    border: 2px solid #202020;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gradient-accent);
}

.settings-container {
    position: absolute;
    top: 8px;
    right: 18px;
    display: flex;
    align-items: center;
    font-size: 12px;

}

.settings-container span {
    margin-left: 8px;
}

/* The switch - the box around the slider */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: .4s;
    border-radius: 10px;
    width: 34px;
    height: 20px;
    border: 1px solid black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    border: 1px solid black;
}

input:checked + .slider {
    background: var(--gradient-accent);
}

input:focus + .slider {
    box-shadow: 0 0 2px var(--color-text-secondary);
}

input:checked + .slider:before {
    transform: translateX(14px);
}
